<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GTUC.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--fonts-->
     
       <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="css/index.css" rel="stylesheet" media="screen">
    </head>
  <body>
   
  <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Gtuc.me</a>
    </div>
</div><!--End of navbar-->
                <div class="row-fluid">
                	<div class="span10">
                		<div  class="row-fluid" >
    <div class="span4 offset8" id="formholder">
    	<form >
    		<legend>Login</legend>
  <input type="text" class="input-small" placeholder="Email">
  <input type="password" class="input-small" placeholder="Password">
  <label class="checkbox">
    <input type="checkbox"> Remember me
  </label>
  <button class="btn btn-primary " type="button">Login</button>
</form><br>

<form  id="" method='post' action=''>
<fieldset>

<legend>Register</legend>


<input type="text" class="input-xlarge" id="fullname" name="fullname" placeholder="Full Name"><br>

<input type="text" class="input-xlarge" id="email" name="email" placeholder="Email"><br>

<input type="password" class="input-xlarge" id="password" name="password" placeholder="Password"><br>

<button type="submit" class="btn btn-success" >Create My Account</button>


</fieldset>
</form>
    	                 </div>
    	                 </div>
                            </div>
                       </div>
<footer><!--footer-->
&copy; <a href="https://twitter.com/niiankrah">Nii Ankrah</a> and <a href="https://twitter.com/brahAyitey">Ayitey Djaba</a>.
</footer>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="js/myscript.js"></script>
  </body>
</html>