<!DOCTYPE html>
<html>
  <head>
    <title>GTUC.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--fonts-->
    
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link href="css/user.css" rel="stylesheet" media="screen">
    
  </head>
  <body>
   
  <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Gtuc.me</a>
    <h1 class="pull-right navbar-text">Emmanuel Djaba</h1>
    </div>
</div><!--End of navbar-->
    <div class="row-fluid">
    <div class="span10">
    <div class="row-fluid">
    <div class="span10 offset2" id ="content">
    	<div class="row-fluid">
    	<div class="span6">
    		<h1>Interests</h1>
    		<code>READING</code> <code>DANCING</code> <code>READING</code> <br>
    		<code>READING</code> <code>READING</code> <br>
           <code>READING</code> <code>READING</code> <code>READING</code>
    	</div>
    	<div class="span6">
    		<h1>About</h1>

Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

<div id="social">
      <span><a href="#" id="facebook" ><img src="img/facebook.png" ></a></span>
      <span class="social"><a href="#" id="twitter" ><img src="img/twitter-old.png" ></a></span>
      <span class="social"><a href="#" id="twitter" ><img src="img/tumblr.png" ></a></span>
      <span class="social"><a href="#" id="twitter" ><img src="img/gplus.png" ></a></span>
      <span class="social"><a href="#" id="twitter"><img src="img/instagram.png" ></a></span>
      <span class="social"><a href="#" id="twitter" ><img src="img/wordpress.png" ></a></span>
      <span class="social"><a href="#" id="twitter" ><img src="img/youtube.png" ></a></span>
      </div>
    	</div>
    	</div>
    </div>
    </div>
    </div>
    </div>
    
     <footer><!--footer-->
&copy; <a href="https://twitter.com/niiankrah">Nii Ankrah</a> and <a href="https://twitter.com/brahAyitey">Ayitey Djaba</a>.
</footer>
    </div>
    
    
    <div class="span4"><!--second column no content-->
      <!--Sidebar content-->
      

      </div>
  </div>
</div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/myscript.js"></script>
  </body>
</html>